@{
    ViewData["Title"] = "Home Page";
}

<section class=" top-0">

    <div class="flex flex-col md:flex-row justify-between" id="hero" style="background-repeat: no-repeat; background-blend-mode: lighten;">
        <div class="w-full bg-slate-400 px-10 bg-opacity-60  ">
            <h2 class="text-colorDeepBlue  md:w-[700px] font-sora text-3xl md:text-[32px] leading-tight font-extrabold mb-2 mt-20">
                We believe that every child deserves a loving and supportive environment where they can grow and reach their full potential.
            </h2>
            <p class="md:1/2 mt-4 md:w-[550px] text-[17px] font-sora text-white mb-10 ">
                At Spring Life Children Residential Home, we believe that every child is a unique and valuable individual, and we are dedicated to helping each and every one of our residents achieve their full potential
            </p>
            <a asp-controller="home" asp-action="#" class=" -ml-[200px]">
                <button class="mb-16 md:flex bg-colorDeepYellow px-10 py-5 rounded-[5%]  text-black hover:text-black hover:bg-colorDeepYellow ">
                    Read more
                </button>
            </a>
        </div>

    </div>
</section>

<section class="md:ml-10 md:mr-[40px] px-8 md:px-10 bg-colorLightYellow mt-10">
    <div class=" justify-between px-1 flex bg-colorLightYellow flex-col  md:flex-row">
        <div class="flex flex-col mb-10 md:w-2/12 md:mt-36 ">
            <h3 class="text-[25px] md:text-[16px] mt-5  font-sora leading-tight text-[#6D6E76] font-bold">OUR SERVICES </h3>
            <p class="mt-5 text-[30px] font-bold mb-5 font-sora">
                What we do
            </p>

        </div>

        <div class="hidden md:flex h-[350px] border-[1px]  mt-[50px] -ml-28"></div>

        <div class="flex flex-col mb-10 md:w-9/12 md:mt-20 md:-ml-40">
            <p class="mt-2 text-[15px] mb-12  font-sora ">
                Our service is designed primarily to support and enhance young people's quality of life in an approach designed and planned specific to the individual
                <br /><br />A system that is to guarantee all service planning is driven by the person(s) who use the service with the input of their family and guardians.
                <br />Our major aim is to provide a residential dwelling to young people irrespective of their background and upbringing. <br /><br />
                At Spring Life Limited, we believe in providing high-quality residential care to young people in a creative and supportive environment. Our aim is to support them during their transition back into the community as well-rounded and responsible adults.<br /><br />
                We are guided by the principle of promoting choice and empowerment. Our approach to care is person-centered, open, and transparent, and we use emotional containment and positive reinforcement to help young people develop self-control and resilience.
            </p>

        </div>
    </div>
</section>

