@{
    ViewData["Title"] = "Home Page";
}

<section class=" top-0">

        <div class="flex flex-col md:flex-row justify-between" id="hero" style="background-repeat: no-repeat; background-blend-mode: lighten;">
            <div class="w-full bg-slate-400 px-10 bg-opacity-60  ">
                <h2 class="text-colorDeepBlue  md:w-[700px] font-sora text-3xl md:text-[32px] leading-tight font-extrabold mb-2 mt-20">
                    We believe that every child deserves a loving and supportive environment where they can grow and reach their full potential.
                </h2>
                <p class="md:1/2 mt-4 md:w-[550px] text-[17px] font-sora text-white mb-10 ">
                    At Spring Life Children Residential Home, we believe that every child is a unique and valuable individual, and we are dedicated to helping each and every one of our residents achieve their full potential
                </p>
                <a href="about.html" class=" -ml-[200px]">
                    <button class="mb-16 md:flex bg-colorDeepYellow px-10 py-5 rounded-[5%]  text-black hover:text-black hover:bg-colorDeepYellow ">
                        Read more
                    </button>
                </a>
            </div>

        </div>
</section>

