@model SupportTicketModel


@{
    ViewData["Title"] = "Support Ticket";
}

<div class="flex flex-col justify-center md:flex-row items-center">
    <div class="mt-20 mb-12 lg:mb-0">
        <div class="block rounded-lg shadow-lg px-6 md:px-12 lg:-mr-14"
             style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px)">
            <h2 class="mt-2 text-3xl font-bold mb-12 text-colorBlue flex justify-center">Message us</h2>
            <form asp-controller="Home" asp-action="CreateSupportTicket" method="post">
                <div class="form-group mb-6">
                    <input type="text"
                           class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                           placeholder="Name"
                           asp-for=Name/>
                </div>
                <div class="form-group mb-6">
                    <input type="email"
                           asp-for=Email
                           class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                           placeholder="Email address" />
                </div>
                <div class="form-group mb-6">
                    <textarea class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                              rows="3"
                              asp-for=Message
                              placeholder="Message"></textarea>
                </div>
                <div class="form-group form-check text-center mb-6">
                    <input type="checkbox"
                           class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer"
                           checked />
                    <label class="form-check-label inline-block text-gray-800" for="exampleCheck87">Send me a copy of this message</label>
                </div>
                    <button class=" w-full font-bold md:flex bg-colorBlue px-8 py-5  text-white hover:text-black hover:bg-travvlyDeepYellow flex justify-center">
                        Send Message
                    </button>
            </form>
        </div>
    </div>
   
</div>

